.teamcard_details {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.5rem;
}

.teamcard_text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--blue);
}

.teamcard_image {
  width: 200px;
  height: 240px;
  border-radius: 1rem 1rem 0 0;
}

h3.teamcard_title {
  color: var(--blue);
}

@media screen and (max-width: 768px) {
  .teamcard_details {
    width: 150px;
  }
  .teamcard_image {
    width: 150px;
    height: 180px;
  }
}
